@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
  }
  
  body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: system-ui, sans-serif;
  }
}